## 노래 가사 분석을 통한 인기 차트 Top10을 예측하는 모델 만들기

멜론 웹 페이지를 이용하여 1990년부터 2021년까지 Top30곡 씩을 크롤링하여 가사를 텍스트 분석 , 1990년 ~ 2019년 텍스트 분석한 결과를 feature로 활용하여 노래가 Top10안에 든 곡들은 1, 들지 않은 곡은 0으로 하여 머신러닝 모델을 생성 -> 2020년, 2021년 Top30곡으로 결과 확인해 예측력을 알아보자!! 

\+ 최신 곡의 가사를 넣어보고 해당 곡이 Top10안에 들지 안들지를 예측해보자!!

In [1]:
import pandas as pd
import numpy as np

melon_1990 = pd.read_csv('멜론1990.csv')
melon_1991 = pd.read_csv('멜론1991.csv')
melon_1992 = pd.read_csv('멜론1992.csv')
melon_1993 = pd.read_csv('멜론1993.csv')
melon_1994 = pd.read_csv('멜론1994.csv')
melon_1995 = pd.read_csv('멜론1995.csv')
melon_1996 = pd.read_csv('멜론1996.csv')
melon_1997 = pd.read_csv('멜론1997.csv')
melon_1998 = pd.read_csv('멜론1998.csv')
melon_1999 = pd.read_csv('멜론1999.csv')
melon_2000 = pd.read_csv('멜론2000.csv')
melon_2001 = pd.read_csv('멜론2001.csv')
melon_2002 = pd.read_csv('멜론2002.csv')
melon_2003 = pd.read_csv('멜론2003.csv')
melon_2004 = pd.read_csv('멜론2004.csv')
melon_2005 = pd.read_csv('멜론2005.csv')
melon_2006 = pd.read_csv('멜론2006.csv')
melon_2007 = pd.read_csv('멜론2007.csv')
melon_2008 = pd.read_csv('멜론2008.csv')
melon_2009 = pd.read_csv('멜론2009.csv')
melon_2010 = pd.read_csv('멜론2010.csv')
melon_2011 = pd.read_csv('멜론2011.csv')
melon_2012 = pd.read_csv('멜론2012.csv')
melon_2013 = pd.read_csv('멜론2013.csv')
melon_2014 = pd.read_csv('멜론2014.csv')
melon_2015 = pd.read_csv('멜론2015.csv')
melon_2016 = pd.read_csv('멜론2016.csv')
melon_2017 = pd.read_csv('멜론2017.csv')
melon_2018 = pd.read_csv('멜론2018.csv')
melon_2019 = pd.read_csv('멜론2019.csv')
melon_2020 = pd.read_csv('멜론2020.csv')
melon_2021 = pd.read_csv('멜론2021.csv')

In [2]:
melon_total = [melon_1990, melon_1991, melon_1992, melon_1993, melon_1994, melon_1995, melon_1996, melon_1997, melon_1998, melon_1999,
               melon_2000, melon_2001, melon_2002, melon_2003, melon_2004, melon_2005, melon_2006, melon_2007, melon_2008, melon_2009,
               melon_2010, melon_2011, melon_2012, melon_2013, melon_2014, melon_2015, melon_2016, melon_2017, melon_2018, melon_2019,
               melon_2020, melon_2021]

In [3]:
# Top10인지 아닌지 여부 column 생성
for melon_year in melon_total:
    melon_year['Top10'] = 0


for melon_year in melon_total:
    for i in melon_year.index:
        if i<=10:
            melon_year['Top10'][i] += 1
        else:
            continue

C:\Users\admin\AppData\Local\Temp\ipykernel_16768\1778001112.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  melon_year['Top10'][i] += 1

In [4]:
import pandas as pd
import numpy as np

melon_1990s = pd.concat([melon_1990, melon_1991, melon_1992, melon_1993, melon_1994, melon_1995, 
                         melon_1996, melon_1997, melon_1998, melon_1999,])

melon_2000s = pd.concat([melon_2000, melon_2001, melon_2002, melon_2003, melon_2004, melon_2005, 
                         melon_2006, melon_2007, melon_2008, melon_2009,])

melon_2010s = pd.concat([melon_2010, melon_2011, melon_2012, melon_2013, melon_2014, melon_2015, 
                         melon_2016, melon_2017, melon_2018, melon_2019,])

melon_2020s = pd.concat([melon_2020, melon_2021])

In [5]:
# 가사가 없는 데이터의 개수 
pd.concat([melon_1990s,melon_2000s, melon_2010s, melon_2020s]).가사.isnull().sum()

12

In [6]:
# index 재지정
melon_1990s.reset_index(drop=True, inplace = True)
melon_2000s.reset_index(drop=True, inplace = True)
melon_2010s.reset_index(drop=True, inplace = True)
melon_2020s.reset_index(drop=True, inplace = True)

In [7]:
# index 재지정
melon_1990.reset_index(drop=True, inplace = True)
melon_1991.reset_index(drop=True, inplace = True)
melon_1992.reset_index(drop=True, inplace = True)
melon_1993.reset_index(drop=True, inplace = True)
melon_1994.reset_index(drop=True, inplace = True)
melon_1995.reset_index(drop=True, inplace = True)
melon_1996.reset_index(drop=True, inplace = True)
melon_1997.reset_index(drop=True, inplace = True)
melon_1998.reset_index(drop=True, inplace = True)
melon_1999.reset_index(drop=True, inplace = True)
melon_2000.reset_index(drop=True, inplace = True)
melon_2001.reset_index(drop=True, inplace = True)
melon_2002.reset_index(drop=True, inplace = True)
melon_2003.reset_index(drop=True, inplace = True)
melon_2004.reset_index(drop=True, inplace = True)
melon_2005.reset_index(drop=True, inplace = True)
melon_2006.reset_index(drop=True, inplace = True)
melon_2007.reset_index(drop=True, inplace = True)
melon_2008.reset_index(drop=True, inplace = True)
melon_2009.reset_index(drop=True, inplace = True)
melon_2010.reset_index(drop=True, inplace = True)
melon_2011.reset_index(drop=True, inplace = True)
melon_2012.reset_index(drop=True, inplace = True)
melon_2013.reset_index(drop=True, inplace = True)
melon_2014.reset_index(drop=True, inplace = True)
melon_2015.reset_index(drop=True, inplace = True)
melon_2016.reset_index(drop=True, inplace = True)
melon_2017.reset_index(drop=True, inplace = True)
melon_2018.reset_index(drop=True, inplace = True)
melon_2019.reset_index(drop=True, inplace = True)
melon_2020.reset_index(drop=True, inplace = True)
melon_2021.reset_index(drop=True, inplace = True)

In [8]:
# 가사 column을 따로 지정
gasa_1990s = melon_1990s.가사
gasa_2000s = melon_2000s.가사
gasa_2010s = melon_2010s.가사
gasa_2020s = melon_2020s.가사

**토큰화** : 가사 중 명사만 추출

In [9]:
from konlpy.tag import Komoran

Komoran = Komoran() # 오탈자 인식에 강함

In [10]:
# Komoran
noun2_1990s = []
noun2_2000s = []
noun2_2010s = []
noun2_2020s = []

for i in gasa_1990s:
    try:
        noun2_1990s.append(Komoran.nouns(i))
    except:
        continue

for i in gasa_2000s:
    try:
        noun2_2000s.append(Komoran.nouns(i))
    except:
        continue
        
for i in gasa_2010s:
    try:
        noun2_2010s.append(Komoran.nouns(i))
    except:
        continue
        
for i in gasa_2020s:
    try:
        noun2_2020s.append(Komoran.nouns(i))
    except:
        continue

**불용어처리**

stopword는 주로 쓰이는 한국어 불용어 리스트를 사용했다.  
https://www.ranks.nl/stopwords/korean  

또한 분석을 하다가 중요하지 않은 불용어 들을 넣어주었다.

In [11]:
# 한국어 불용어
with open('stopword.txt', 'r', encoding='utf-8') as f:
    text = f.read()

stopwords = text.split()

In [12]:
np.array(stopwords).reshape(1,-1)

array([['아', '휴', '아이구', '아이쿠', '아이고', '어', '나', '우리', '저희', '따라', '의해',
        '을', '를', '에', '의', '가', '으로', '로', '에게', '뿐이다', '의거하여', '근거하여',
        '입각하여', '기준으로', '예하면', '예를', '들면', '예를', '들자면', '저', '소인', '소생',
        '저희', '지말고', '하지마', '하지마라', '다른', '물론', '또한', '그리고', '비길수', '없다',
        '해서는', '안된다', '뿐만', '아니라', '만이', '아니다', '만은', '아니다', '막론하고',
        '관계없이', '그치지', '않다', '그러나', '그런데', '하지만', '든간에', '논하지', '않다',
        '따지지', '않다', '설사', '비록', '더라도', '아니면', '만', '못하다', '하는', '편이',
        '낫다', '불문하고', '향하여', '향해서', '향하다', '쪽으로', '틈타', '이용하여', '타다',
        '오르다', '제외하고', '이', '외에', '이', '밖에', '하여야', '비로소', '한다면', '몰라도',
        '외에도', '이곳', '여기', '부터', '기점으로', '따라서', '할', '생각이다', '하려고하다',
        '이리하여', '그리하여', '그렇게', '함으로써', '하지만', '일때', '할때', '앞에서', '중에서',
        '보는데서', '으로써', '로써', '까지', '해야한다', '일것이다', '반드시', '할줄알다', '할수있다',
        '할수있어', '임에', '틀림없다', '한다면', '등', '등등', '제', '겨우', '단지', '다만',
        '할뿐', '딩동', '댕그', '대해서', '대하여', '대하면', '훨씬', '얼마나', '얼마만큼',
        '얼마큼', '남짓', '여', '얼마간', '약간', '다소', '좀', '조금', '다수', '몇', '얼마',
        '지만', '하물며', '또한', '그러나', '그렇지만', '하지만', '이외에도', '대해', '말하자면',
        '뿐이다', '다음에', '반대로', '반대로', '말하자면', '이와', '반대로', '바꾸어서', '말하면',
        '바꾸어서', '한다면', '만약', '그렇지않으면', '까악', '툭', '딱', '삐걱거리다', '보드득',
        '비걱거리다', '꽈당', '응당', '해야한다', '에', '가서', '각', '각각', '여러분', '각종',
        '각자', '제각기', '하도록하다', '와', '과', '그러므로', '그래서', '고로', '한', '까닭에',
        '하기', '때문에', '거니와', '이지만', '대하여', '관하여', '관한', '과연', '실로',
        '아니나다를가', '생각한대로', '진짜로', '한적이있다', '하곤하였다', '하', '하하', '허허',
        '아하', '거바', '와', '오', '왜', '어째서', '무엇때문에', '어찌', '하겠는가', '무슨',
        '어디', '어느곳', '더군다나', '하물며', '더욱이는', '어느때', '언제', '야', '이봐', '어이',
        '여보시오', '흐흐', '흥', '휴', '헉헉', '헐떡헐떡', '영차', '여차', '어기여차', '끙끙',
        '아야', '앗', '아야', '콸콸', '졸졸', '좍좍', '뚝뚝', '주룩주룩', '솨', '우르르',
        '그래도', '또', '그리고', '바꾸어말하면', '바꾸어말하자면', '혹은', '혹시', '답다', '및',
        '그에', '따르는', '때가', '되어', '즉', '지든지', '설령', '가령', '하더라도', '할지라도',
        '일지라도', '지든지', '몇', '거의', '하마터면', '인젠', '이젠', '된바에야', '된이상',
        '만큼', '어찌됏든', '그위에', '게다가', '점에서', '보아', '비추어', '보아', '고려하면',
        '하게될것이다', '일것이다', '비교적', '좀', '보다더', '비하면', '시키다', '하게하다',
        '할만하다', '의해서', '연이서', '이어서', '잇따라', '뒤따라', '뒤이어', '결국', '의지하여',
        '기대여', '통하여', '자마자', '더욱더', '불구하고', '얼마든지', '마음대로', '주저하지', '않고',
        '곧', '즉시', '바로', '당장', '하자마자', '밖에', '안된다', '하면된다', '그래', '그렇지',
        '요컨대', '다시', '말하자면', '바꿔', '말하면', '즉', '구체적으로', '말하자면', '시작하여',
        '시초에', '이상', '허', '헉', '허걱', '바와같이', '해도좋다', '해도된다', '게다가',
        '더구나', '하물며', '와르르', '팍', '퍽', '펄렁', '동안', '이래', '하고있었다', '이었다',
        '에서', '로부터', '까지', '예하면', '했어요', '해요', '함께', '같이', '더불어', '마저',
        '마저도', '양자', '모두', '습니다', '가까스로', '하려고하다', '즈음하여', '다른', '다른',
        '방면으로', '해봐요', '습니까', '했어요', '말할것도', '없고', '무릎쓰고', '개의치않고',
        '하는것만', '못하다', '하는것이', '낫다', '매', '매번', '들', '모', '어느것', '어느',
        '로써', '갖고말하자면', '어디', '어느쪽', '어느것', '어느해', '어느', '년도', '라', '해도',
        '언젠가', '어떤것', '어느것', '저기', '저쪽', '저것', '그때', '그럼', '그러면', '요만한걸',
        '그래', '그때', '저것만큼', '그저', '이르기까지', '할', '줄', '안다', '할', '힘이',
        '있다', '너', '너희', '당신', '어찌', '설마', '차라리', '할지언정', '할지라도', '할망정',
        '할지언정', '구토하다', '게우다', '토하다', '메쓰겁다', '옆사람', '퉤', '쳇', '의거하여',
        '근거하여', '의해', '따라', '힘입어', '그', '다음', '버금', '두번째로', '기타', '첫번째로',
        '나머지는', '그중에서', '견지에서', '형식으로', '쓰여', '입장에서', '위해서', '단지',
        '의해되다', '하도록시키다', '뿐만아니라', '반대로', '전후', '전자', '앞의것', '잠시', '잠깐',
        '하면서', '그렇지만', '다음에', '그러한즉', '그런즉', '남들', '아무거나', '어찌하든지', '같다',
        '비슷하다', '예컨대', '이럴정도로', '어떻게', '만약', '만일', '위에서', '서술한바와같이', '인',
        '듯하다', '하지', '않는다면', '만약에', '무엇', '무슨', '어느', '어떤', '아래윗', '조차',
        '한데', '그럼에도', '불구하고', '여전히', '심지어', '까지도', '조차도', '하지', '않도록',
        '않기', '위하여', '때', '시각', '무렵', '시간', '동안', '어때', '어떠한', '하여금',
        '네', '예', '우선', '누구', '누가', '알겠는가', '아무도', '줄은모른다', '줄은', '몰랏다',
        '하는', '김에', '겸사겸사', '하는바', '그런', '까닭에', '한', '이유는', '그러니',
        '그러니까', '때문에', '그', '너희', '그들', '너희들', '타인', '것', '것들', '너',
        '위하여', '공동으로', '동시에', '하기', '위하여', '어찌하여', '무엇때문에', '붕붕', '윙윙',
        '나', '우리', '엉엉', '휘익', '윙윙', '오호', '아하', '어쨋든', '만', '못하다',
        '하기보다는', '차라리', '하는', '편이', '낫다', '흐흐', '놀라다', '상대적으로', '말하자면',
        '마치', '아니라면', '쉿', '그렇지', '않으면', '그렇지', '않다면', '안', '그러면',
        '아니었다면', '하든지', '아니면', '이라면', '좋아', '알았어', '하는것도', '그만이다', '어쩔수',
        '없다', '하나', '일', '일반적으로', '일단', '한켠으로는', '오자마자', '이렇게되면',
        '이와같다면', '전부', '한마디', '한항목', '근거로', '하기에', '아울러', '하지', '않도록',
        '않기', '위해서', '이르기까지', '이', '되다', '로', '인하여', '까닭으로', '이유만으로',
        '이로', '인하여', '그래서', '이', '때문에', '그러므로', '그런', '까닭에', '알', '수',
        '있다', '결론을', '낼', '수', '있다', '으로', '인하여', '있다', '어떤것', '관계가',
        '있다', '관련이', '있다', '연관되다', '어떤것들', '에', '대해', '이리하여', '그리하여',
        '여부', '하기보다는', '하느니', '하면', '할수록', '운운', '이러이러하다', '하구나', '하도다',
        '다시말하면', '다음으로', '에', '있다', '에', '달려', '있다', '우리', '우리들', '오히려',
        '하기는한데', '어떻게', '어떻해', '어찌됏어', '어때', '어째서', '본대로', '자', '이',
        '이쪽', '여기', '이것', '이번', '이렇게말하자면', '이런', '이러한', '이와', '같은',
        '요만큼', '요만한', '것', '얼마', '안', '되는', '것', '이만큼', '이', '정도의',
        '이렇게', '많은', '것', '이와', '같다', '이때', '이렇구나', '것과', '같이', '끼익',
        '삐걱', '따위', '와', '같은', '사람들', '부류의', '사람들', '왜냐하면', '중의하나', '오직',
        '오로지', '에', '한하다', '하기만', '하면', '도착하다', '까지', '미치다', '도달하다',
        '정도에', '이르다', '할', '지경이다', '결과에', '이르다', '관해서는', '여러분', '하고',
        '있다', '한', '후', '혼자', '자기', '자기집', '자신', '우에', '종합한것과같이', '총적으로',
        '보면', '총적으로', '말하면', '총적으로', '대로', '하다', '으로서', '참', '그만이다', '할',
        '따름이다', '쿵', '탕탕', '쾅쾅', '둥둥', '봐', '봐라', '아이야', '아니', '와아', '응',
        '아이', '참나', '년', '월', '일', '령', '영', '일', '이', '삼', '사', '오',
        '육', '륙', '칠', '팔', '구', '이천육', '이천칠', '이천팔', '이천구', '하나', '둘',
        '셋', '넷', '다섯', '여섯', '일곱', '여덟', '아홉', '령', '영', '것', '더', '널',
        '수', '난', '네', '속', '젠', '거', '니', '넌', '걸', '게', '거', '그', '내',
        '나', '너', '날', '번', '우', '건', '못', '위', '마', '뭐', '뿐', '해', '아무',
        '라라', '나나', '곁', '듯', '듯이', '너에게']], dtype='<U7')

In [13]:
# 불용어 처리
noun2_1990s_sw = []; noun2_2000s_sw = []; noun2_2010s_sw=[]; noun2_2020s_sw =[]


# 2    
for text in noun2_1990s:
    temp = []
    for word in text:
        if word not in stopwords:
            temp.append(word)
    noun2_1990s_sw.append(temp)
    
for text in noun2_2000s: 
    temp = []
    for word in text:
        if word not in stopwords:
            temp.append(word)
    noun2_2000s_sw.append(temp)
    
for text in noun2_2010s: 
    temp = []
    for word in text:
        if word not in stopwords:
            temp.append(word)
    noun2_2010s_sw.append(temp)
    
for text in noun2_2020s: 
    temp = []
    for word in text:
        if word not in stopwords:
            temp.append(word)
    noun2_2020s_sw.append(temp)

In [14]:
# 불용어 처리로 적어진 모습
count = 0
for i in noun2_1990s:
    for j in i:
        count +=1
count

15572

In [15]:
count = 0
for i in noun2_1990s_sw:
    for j in i:
        count +=1
count

11222

### 빈도 분석

In [16]:
# Top 30 노래 가사에서 등장한 단어의 빈도
# Komoran
# 가장 많이 등장한 Top10 단어들의 빈도를 Feature로 사용
from collections import Counter

mostwords_1990s = []
mostwords_2000s = []
mostwords_2010s = []
mostwords_2020s = []

for document in noun2_1990s_sw:
    mostwords_1990s.append([y for x,y in Counter(document).most_common(10)])
for document in noun2_2000s_sw:
    mostwords_2000s.append([y for x,y in Counter(document).most_common(10)])
for document in noun2_2010s_sw:
    mostwords_2010s.append([y for x,y in Counter(document).most_common(10)])
for document in noun2_2020s_sw:
    mostwords_2020s.append([y for x,y in Counter(document).most_common(10)])

In [17]:
# DataFrame 형태로 변경
mostwords_1990s = pd.DataFrame(mostwords_1990s).fillna(0)
mostwords_1990s.columns = mostwords_1990s.columns.map(lambda x : '빈도_'+str(x+1)+'등')
mostwords_2000s = pd.DataFrame(mostwords_2000s).fillna(0)
mostwords_2000s.columns = mostwords_2000s.columns.map(lambda x : '빈도_'+str(x+1)+'등')
mostwords_2010s = pd.DataFrame(mostwords_2010s).fillna(0)
mostwords_2010s.columns = mostwords_2010s.columns.map(lambda x : '빈도_'+str(x+1)+'등')
mostwords_2020s = pd.DataFrame(mostwords_2020s).fillna(0)
mostwords_2020s.columns = mostwords_2020s.columns.map(lambda x : '빈도_'+str(x+1)+'등')

In [18]:
# melon dataframe에 가사가 없는 행 제거
melon_1990s.dropna(inplace=True)
melon_2000s.dropna(inplace=True)
melon_2010s.dropna(inplace=True)
melon_2020s.dropna(inplace=True)

In [19]:
len(melon_1990s) + len(melon_2000s) + len(melon_2010s)

888

In [20]:
feature = []
feature_te = []

In [21]:
# X_train 데이터
bindo_train = pd.concat([mostwords_1990s, mostwords_2000s, mostwords_2010s], axis=0).reset_index(drop=True)
feature.append(bindo_train)
bindo_train.head()

   빈도_1등  빈도_2등  빈도_3등  빈도_4등  빈도_5등  빈도_6등  빈도_7등  빈도_8등  빈도_9등  빈도_10등
0     17    2.0    1.0    1.0    1.0    1.0    1.0    1.0    1.0     1.0
1      2    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0     2.0
2      4    4.0    3.0    3.0    3.0    3.0    2.0    2.0    2.0     2.0
3      6    4.0    4.0    4.0    4.0    2.0    2.0    2.0    2.0     2.0
4      5    4.0    2.0    2.0    2.0    2.0    2.0    1.0    1.0     1.0

In [22]:
# X_test 데이터
feature_te.append(mostwords_2020s) # bindo_test
mostwords_2020s.head()

   빈도_1등  빈도_2등  빈도_3등  빈도_4등  빈도_5등  빈도_6등  빈도_7등  빈도_8등  빈도_9등  빈도_10등
0   17.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0    3.0     3.0
1    4.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0    2.0     2.0
2    3.0    3.0    3.0    2.0    2.0    2.0    2.0    2.0    2.0     2.0
3    5.0    5.0    4.0    4.0    4.0    3.0    2.0    2.0    2.0     1.0
4    6.0    4.0    3.0    3.0    2.0    2.0    2.0    2.0    2.0     2.0

### TF-IDF 분석

연도별 노래마다 한 리스트에 저장되어 있는 gasa_XXXXs 데이터 사용 ( 불용어 처리 x)

In [23]:
tf_noun_1990s = []
tf_noun_2000s = []
tf_noun_2010s = []
tf_noun_2020s = []

for i in noun2_1990s_sw:
    tf_noun_1990s.append(" ".join(i))
for i in noun2_2000s_sw:
    tf_noun_2000s.append(" ".join(i))
for i in noun2_2010s_sw:
    tf_noun_2010s.append(" ".join(i))
for i in noun2_2020s_sw:
    tf_noun_2020s.append(" ".join(i))

#### 1990년대

In [24]:
# 1990년대에 주로 사용된 단어 Top 10으로 
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer_1990s = TfidfVectorizer(max_features =10)  # 1글자 사용x, L2 정규화
#vectorizer_2000s = TfidfVectorizer()
#vectorizer_2010s = TfidfVectorizer()
#vectorizer_2020s = TfidfVectorizer()

doc_term_mat_1990s_90 = vectorizer_1990s.fit_transform(tf_noun_1990s)
doc_term_mat_d_1990s_90 = doc_term_mat_1990s_90.toarray() # 희소행렬

doc_term_mat_2000s_90 = vectorizer_1990s.transform(tf_noun_2000s)
doc_term_mat_d_2000s_90 = doc_term_mat_2000s_90.toarray() 

doc_term_mat_2010s_90 = vectorizer_1990s.transform(tf_noun_2010s)
doc_term_mat_d_2010s_90 = doc_term_mat_2010s_90.toarray() 

doc_term_mat_2020s_90 = vectorizer_1990s.transform(tf_noun_2020s)
doc_term_mat_d_2020s_90 = doc_term_mat_2020s_90.toarray()

In [25]:
tfidf_1990s = pd.DataFrame(doc_term_mat_d_1990s_90)
tfidf_2000s = pd.DataFrame(doc_term_mat_d_2000s_90) 
tfidf_2010s = pd.DataFrame(doc_term_mat_d_2010s_90)
tfidf_2020s = pd.DataFrame(doc_term_mat_d_2020s_90)
# tfidf_1990s.columns = vectorizer_1990s.get_feature_names_out()
tfidf_1990s.columns = tfidf_1990s.columns.map(lambda x : '1990_' + str(x))
tfidf_2000s.columns = tfidf_2000s.columns.map(lambda x : '1990_' + str(x))
tfidf_2010s.columns = tfidf_2010s.columns.map(lambda x : '1990_' + str(x))
tfidf_2020s.columns = tfidf_2020s.columns.map(lambda x : '1990_' + str(x))

tfidf_1990s.head()

,1990_0,1990_1,1990_2,1990_3,1990_4,1990_5,1990_6,1990_7,1990_8,1990_9
0,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.56559,0.0,0.824686,0.000000,0.000000
2,0.821002,0.000000,0.407326,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.400052
3,0.000000,0.000000,0.000000,0.000000,0.938464,0.00000,0.0,0.000000,0.345376,0.000000
4,0.000000,0.455856,0.000000,0.426738,0.000000,0.00000,0.0,0.000000,0.000000,0.781083

In [26]:
tfidf_90_train = pd.concat([tfidf_1990s, tfidf_2000s, tfidf_2010s], axis=0).reset_index(drop=True)
feature.append(tfidf_90_train)
tfidf_90_train.head()

,1990_0,1990_1,1990_2,1990_3,1990_4,1990_5,1990_6,1990_7,1990_8,1990_9
0,0.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.56559,0.0,0.824686,0.000000,0.000000
2,0.821002,0.000000,0.407326,0.000000,0.000000,0.00000,0.0,0.000000,0.000000,0.400052
3,0.000000,0.000000,0.000000,0.000000,0.938464,0.00000,0.0,0.000000,0.345376,0.000000
4,0.000000,0.455856,0.000000,0.426738,0.000000,0.00000,0.0,0.000000,0.000000,0.781083

In [27]:
feature_te.append(tfidf_2020s)
tfidf_2020s.head()

,1990_0,1990_1,1990_2,1990_3,1990_4,1990_5,1990_6,1990_7,1990_8,1990_9
0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,1.000000,0.0,0.0
1,0.528773,0.0,0.000000,0.0,0.848763,0.000000,0.0,0.000000,0.0,0.0
2,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
3,0.000000,0.0,0.789119,0.0,0.425511,0.000000,0.0,0.442981,0.0,0.0
4,0.989894,0.0,0.000000,0.0,0.000000,0.141809,0.0,0.000000,0.0,0.0

#### 2000년대

In [28]:
# 2000년대에 주로 사용된 단어 Top 10으로 
from sklearn.feature_extraction.text import TfidfVectorizer

#vectorizer_1990s = TfidfVectorizer(max_features =10)  # 1글자 사용x, L2 정규화
vectorizer_2000s = TfidfVectorizer(max_features =10) 
#vectorizer_2010s = TfidfVectorizer()
#vectorizer_2020s = TfidfVectorizer()

doc_term_mat_2000s_00 = vectorizer_2000s.fit_transform(tf_noun_2000s)
doc_term_mat_d_2000s_00 = doc_term_mat_2000s_00.toarray()

doc_term_mat_1990s_00 = vectorizer_2000s.transform(tf_noun_1990s)
doc_term_mat_d_1990s_00 = doc_term_mat_1990s_00.toarray() # 희소행렬

doc_term_mat_2010s_00 = vectorizer_2000s.transform(tf_noun_2010s)
doc_term_mat_d_2010s_00 = doc_term_mat_2010s_00.toarray() 

doc_term_mat_2020s_00 = vectorizer_2000s.transform(tf_noun_2020s)
doc_term_mat_d_2020s_00 = doc_term_mat_2020s_00.toarray()

In [29]:
tfidf_1990s = pd.DataFrame(doc_term_mat_d_1990s_00)
tfidf_2000s = pd.DataFrame(doc_term_mat_d_2000s_00) 
tfidf_2010s = pd.DataFrame(doc_term_mat_d_2010s_00)
tfidf_2020s = pd.DataFrame(doc_term_mat_d_2020s_00)
# tfidf_1990s.columns = vectorizer_1990s.get_feature_names_out()
tfidf_1990s.columns = tfidf_1990s.columns.map(lambda x : '2000_' + str(x))
tfidf_2000s.columns = tfidf_2000s.columns.map(lambda x : '2000_' + str(x))
tfidf_2010s.columns = tfidf_2010s.columns.map(lambda x : '2000_' + str(x))
tfidf_2020s.columns = tfidf_2020s.columns.map(lambda x : '2000_' + str(x))

tfidf_1990s.head()

,2000_0,2000_1,2000_2,2000_3,2000_4,2000_5,2000_6,2000_7,2000_8,2000_9
0,0.0,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
1,0.0,0.000000,0.00000,0.000000,0.495497,0.868609,0.000000,0.0,0.000000,0.00000
2,0.0,0.000000,0.73281,0.000000,0.000000,0.000000,0.000000,0.0,0.680434,0.00000
3,0.0,0.000000,0.00000,0.737769,0.000000,0.000000,0.304411,0.0,0.000000,0.60252
4,0.0,0.401004,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.916076,0.00000

In [30]:
tfidf_00_train = pd.concat([tfidf_1990s, tfidf_2000s, tfidf_2010s], axis=0).reset_index(drop=True)
feature.append(tfidf_00_train)
tfidf_00_train.head()

,2000_0,2000_1,2000_2,2000_3,2000_4,2000_5,2000_6,2000_7,2000_8,2000_9
0,0.0,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
1,0.0,0.000000,0.00000,0.000000,0.495497,0.868609,0.000000,0.0,0.000000,0.00000
2,0.0,0.000000,0.73281,0.000000,0.000000,0.000000,0.000000,0.0,0.680434,0.00000
3,0.0,0.000000,0.00000,0.737769,0.000000,0.000000,0.304411,0.0,0.000000,0.60252
4,0.0,0.401004,0.00000,0.000000,0.000000,0.000000,0.000000,0.0,0.916076,0.00000

In [31]:
feature_te.append(tfidf_2020s)
tfidf_2020s.head()

,2000_0,2000_1,2000_2,2000_3,2000_4,2000_5,2000_6,2000_7,2000_8,2000_9
0,0.0,0.0,0.000000,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0
3,0.0,0.0,0.838635,0.342295,0.0,0.423704,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0,0.0

#### 2010년대

In [32]:
# 2010년대에 주로 사용된 단어 Top 10으로 
from sklearn.feature_extraction.text import TfidfVectorizer

# vectorizer_1990s = TfidfVectorizer(max_features =10)  # 1글자 사용x, L2 정규화
#vectorizer_2000s = TfidfVectorizer()
vectorizer_2010s = TfidfVectorizer(max_features =10) 
#vectorizer_2020s = TfidfVectorizer()

doc_term_mat_2010s_10 = vectorizer_2010s.fit_transform(tf_noun_2010s)
doc_term_mat_d_2010s_10 = doc_term_mat_2010s_10.toarray() 

doc_term_mat_1990s_10 = vectorizer_2010s.transform(tf_noun_1990s)
doc_term_mat_d_1990s_10 = doc_term_mat_1990s_10.toarray() # 희소행렬

doc_term_mat_2000s_10 = vectorizer_2010s.transform(tf_noun_2000s)
doc_term_mat_d_2000s_10 = doc_term_mat_2000s_10.toarray() 

doc_term_mat_2020s_10 = vectorizer_2010s.transform(tf_noun_2020s)
doc_term_mat_d_2020s_10 = doc_term_mat_2020s_10.toarray()

In [33]:
tfidf_1990s = pd.DataFrame(doc_term_mat_d_1990s_10)
tfidf_2000s = pd.DataFrame(doc_term_mat_d_2000s_10) 
tfidf_2010s = pd.DataFrame(doc_term_mat_d_2010s_10)
tfidf_2020s = pd.DataFrame(doc_term_mat_d_2020s_10)
# tfidf_1990s.columns = vectorizer_1990s.get_feature_names_out()
tfidf_1990s.columns = tfidf_1990s.columns.map(lambda x : '2010_' + str(x))
tfidf_2000s.columns = tfidf_2000s.columns.map(lambda x : '2010_' + str(x))
tfidf_2010s.columns = tfidf_2010s.columns.map(lambda x : '2010_' + str(x))
tfidf_2020s.columns = tfidf_2020s.columns.map(lambda x : '2010_' + str(x))

tfidf_1990s.head()

,2010_0,2010_1,2010_2,2010_3,2010_4,2010_5,2010_6,2010_7,2010_8,2010_9
0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
1,0.0,0.000000,0.000000,0.000000,0.000000,0.590234,0.807232,0.0,0.000000,0.00000
2,0.0,0.000000,0.000000,0.711158,0.000000,0.000000,0.000000,0.0,0.703032,0.00000
3,0.0,0.000000,0.000000,0.000000,0.770193,0.000000,0.000000,0.0,0.000000,0.63781
4,0.0,0.938399,0.157414,0.000000,0.000000,0.000000,0.000000,0.0,0.307615,0.00000

In [34]:
tfidf_10_train = pd.concat([tfidf_1990s, tfidf_2000s, tfidf_2010s], axis=0).reset_index(drop=True)
feature.append(tfidf_10_train)
tfidf_10_train.head()

,2010_0,2010_1,2010_2,2010_3,2010_4,2010_5,2010_6,2010_7,2010_8,2010_9
0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.00000
1,0.0,0.000000,0.000000,0.000000,0.000000,0.590234,0.807232,0.0,0.000000,0.00000
2,0.0,0.000000,0.000000,0.711158,0.000000,0.000000,0.000000,0.0,0.703032,0.00000
3,0.0,0.000000,0.000000,0.000000,0.770193,0.000000,0.000000,0.0,0.000000,0.63781
4,0.0,0.938399,0.157414,0.000000,0.000000,0.000000,0.000000,0.0,0.307615,0.00000

In [35]:
feature_te.append(tfidf_2020s)
tfidf_2020s.head()

,2010_0,2010_1,2010_2,2010_3,2010_4,2010_5,2010_6,2010_7,2010_8,2010_9
0,0.0,0.991311,0.0,0.000000,0.000000,0.0,0.131543,0.0,0.0,0.0
1,0.0,0.794768,0.0,0.000000,0.606913,0.0,0.000000,0.0,0.0,0.0
2,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,1.0
3,0.0,0.000000,0.0,0.839826,0.386807,0.0,0.380884,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.000000,0.000000,1.0,0.000000,0.0,0.0,0.0

### W2V

In [36]:
import random
from gensim.models import word2vec
from tqdm import tqdm

In [37]:
def oversample(x, n):
    lst = []
    for i in x:
        tmp = []
        for j in range(n):
            tmp += i
        lst.append(tmp)
    return lst

In [38]:
w2v_noun_1990s = []
w2v_noun_2000s = []
w2v_noun_2010s = []
w2v_noun_2020s = []

for i in noun2_1990s_sw:
    w2v_noun_1990s.append("/".join(i))
for i in noun2_2000s_sw:
    w2v_noun_2000s.append("/".join(i))
for i in noun2_2010s_sw:
    w2v_noun_2010s.append("/".join(i))
for i in noun2_2020s_sw:
    w2v_noun_2020s.append("/".join(i))

In [39]:
w2v_input_90 = oversample(w2v_noun_1990s, 3)
w2v_input_00 = oversample(w2v_noun_2000s, 3)
w2v_input_10 = oversample(w2v_noun_2010s, 3)
w2v_input_20 = oversample(w2v_noun_2020s, 3)

In [40]:
w2v_90 = word2vec.Word2Vec(sentences = w2v_input_90,
                        vector_size = 30,
                        window = 3,
                        min_count = 1,
                        sg = 1).wv
w2v_00 = word2vec.Word2Vec(sentences = w2v_input_00,
                        vector_size = 30,
                        window = 3,
                        min_count = 1,
                        sg = 1).wv
w2v_10 = word2vec.Word2Vec(sentences = w2v_input_10,
                        vector_size = 30,
                        window = 3,
                        min_count = 1,
                        sg = 1).wv
w2v_20 = word2vec.Word2Vec(sentences = w2v_input_20,
                        vector_size = 30,
                        window = 3,
                        min_count = 1,
                        sg = 1).wv

In [41]:
train_mean_vector_90 = []

for words in tqdm(w2v_input_90):
        tmp = np.zeros(30)        
        cnt = 0
        for word in words:
            try:
                tmp += w2v_90[word]
                cnt += 1
            except:
                pass
        tmp /= cnt                    
        train_mean_vector_90.append(tmp)
        
train_mean_vector_90 = np.array(train_mean_vector_90)

100%|██████████████████████████████████████████████████████████████████████████████| 293/293 [00:00<00:00, 1118.33it/s]

In [42]:
train_mean_vector_00 = []

for words in tqdm(w2v_input_00):
        tmp = np.zeros(30)            
        cnt = 0
        for word in words:
            try:
                tmp += w2v_00[word]
                cnt += 1
            except:
                pass
        tmp /= cnt                  
        train_mean_vector_00.append(tmp)
        
train_mean_vector_00 = np.array(train_mean_vector_00)

100%|███████████████████████████████████████████████████████████████████████████████| 299/299 [00:00<00:00, 931.47it/s]

In [43]:
train_mean_vector_10 = []

for words in tqdm(w2v_input_10):
        tmp = np.zeros(30)            
        cnt = 0
        for word in words:
            try:
                tmp += w2v_10[word]
                cnt += 1
            except:
                pass
        tmp /= cnt                    
        train_mean_vector_10.append(tmp)
        
train_mean_vector_10 = np.array(train_mean_vector_10)

100%|███████████████████████████████████████████████████████████████████████████████| 296/296 [00:00<00:00, 836.16it/s]

In [44]:
train_mean_vector_20 = []

for words in tqdm(w2v_input_20):
        tmp = np.zeros(30)            
        cnt = 0
        for word in words:
            try:
                tmp += w2v_20[word]
                cnt += 1
            except:
                pass
        tmp /= cnt                     
        train_mean_vector_20.append(tmp)
        
train_mean_vector_20 = np.array(train_mean_vector_20)

  0%|                                                                                           | 0/60 [00:00<?, ?it/s]C:\Users\admin\AppData\Local\Temp\ipykernel_16768\2410800922.py:12: RuntimeWarning: invalid value encountered in true_divide
  tmp /= cnt
100%|█████████████████████████████████████████████████████████████████████████████████| 60/60 [00:00<00:00, 937.49it/s]

In [45]:
train_w2v_90 = pd.DataFrame(train_mean_vector_90).fillna(0)
train_w2v_00 = pd.DataFrame(train_mean_vector_00).fillna(0)
train_w2v_10 = pd.DataFrame(train_mean_vector_10).fillna(0)
train_w2v_20 = pd.DataFrame(train_mean_vector_20).fillna(0)

In [46]:
w2v_train = pd.concat([train_w2v_90, train_w2v_00, train_w2v_10], axis=0).reset_index(drop=True)
w2v_train.columns = w2v_train.columns.map(lambda x : 'w2v_' + str(x))
feature.append(w2v_train)
w2v_train.head()

,w2v_0,w2v_1,w2v_2,w2v_3,w2v_4,w2v_5,w2v_6,w2v_7,w2v_8,w2v_9,...,w2v_20,w2v_21,w2v_22,w2v_23,w2v_24,w2v_25,w2v_26,w2v_27,w2v_28,w2v_29
0,0.090515,-0.089470,0.315191,0.011809,-0.085555,0.058386,0.146962,0.064940,-0.474436,-0.193424,...,0.443735,0.104548,-0.101639,-0.147584,0.592460,-0.153130,0.034033,0.363047,0.505773,-0.147177
1,0.018822,-0.102478,0.419477,0.277619,-0.168146,-0.029447,0.259639,0.218203,-0.341425,-0.381519,...,0.614079,0.018795,0.056959,0.026999,0.319842,0.031030,0.014634,0.263643,0.470032,-0.225170
2,-0.172075,-0.051192,0.335560,0.108714,-0.150234,0.089103,0.214454,0.173136,-0.324535,-0.127756,...,0.537809,0.026070,-0.052163,0.022258,0.431383,0.148869,0.142811,0.423212,0.513870,-0.151350
3,-0.020567,-0.179816,0.324943,0.129573,-0.205262,0.049597,0.266653,0.158214,-0.428788,-0.267156,...,0.437628,0.059382,0.032185,0.000137,0.461525,0.085306,0.062933,0.335889,0.414543,-0.171855
4,-0.118056,-0.195271,0.297945,0.184084,-0.095271,0.029959,0.197733,0.220770,-0.417091,-0.175736,...,0.492598,0.229535,0.061022,0.026889,0.519262,0.221837,0.114534,0.310134,0.466154,-0.221947

In [47]:
train_w2v_20.columns = train_w2v_20.columns.map(lambda x : 'w2v_' + str(x))
feature_te.append(train_w2v_20)
train_w2v_20.head()

,w2v_0,w2v_1,w2v_2,w2v_3,w2v_4,w2v_5,w2v_6,w2v_7,w2v_8,w2v_9,...,w2v_20,w2v_21,w2v_22,w2v_23,w2v_24,w2v_25,w2v_26,w2v_27,w2v_28,w2v_29
0,0.198954,-0.155416,0.261962,0.365089,-0.126625,0.014886,0.412508,-0.042530,-0.206798,0.013551,...,-0.142498,0.357269,-0.348285,0.554630,0.049757,0.108420,0.618424,-0.221471,-0.170774,-0.161789
1,0.219802,-0.149324,0.281057,0.371215,-0.175936,-0.045647,0.380671,0.014602,-0.205258,0.050825,...,-0.140314,0.362925,-0.250032,0.588615,0.066714,0.178016,0.555149,-0.190625,-0.117742,-0.140655
2,0.175071,-0.181873,0.233606,0.377086,-0.167054,-0.065024,0.440097,0.029782,-0.190246,0.073288,...,-0.086806,0.395110,-0.227270,0.577142,0.066111,0.177948,0.626348,-0.174686,-0.141170,-0.126640
3,0.245386,-0.138217,0.352808,0.407667,-0.164569,-0.024993,0.347522,0.063739,-0.146934,0.131036,...,-0.155757,0.352196,-0.252702,0.676258,0.037542,0.240169,0.509499,-0.156957,-0.132063,-0.155990
4,0.207668,-0.238821,0.353060,0.407410,-0.174324,-0.060821,0.512756,0.043115,-0.156550,-0.012375,...,-0.086323,0.463190,-0.243538,0.468409,0.161784,0.188250,0.593708,-0.132818,-0.014953,-0.177458

### Feature Merge

In [48]:
melon_train = pd.concat([melon_1990s,melon_2000s, melon_2010s], axis=0)
data = pd.DataFrame(melon_train.제목).reset_index(drop=True)

In [49]:
for f in feature :
    data = pd.concat([data, f], axis = 1)
    
data = data.fillna(round(data.mean(),4))

C:\Users\admin\AppData\Local\Temp\ipykernel_16768\1760625304.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data = data.fillna(round(data.mean(),4))

In [50]:
data.head()

,제목,빈도_1등,빈도_2등,빈도_3등,빈도_4등,빈도_5등,빈도_6등,빈도_7등,빈도_8등,빈도_9등,...,w2v_20,w2v_21,w2v_22,w2v_23,w2v_24,w2v_25,w2v_26,w2v_27,w2v_28,w2v_29
0,희망사항,17,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.443735,0.104548,-0.101639,-0.147584,0.592460,-0.153130,0.034033,0.363047,0.505773,-0.147177
1,사랑일뿐야,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,0.614079,0.018795,0.056959,0.026999,0.319842,0.031030,0.014634,0.263643,0.470032,-0.225170
2,유리창엔 비,4,4.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,...,0.537809,0.026070,-0.052163,0.022258,0.431383,0.148869,0.142811,0.423212,0.513870,-0.151350
3,비오는 날 수채화,6,4.0,4.0,4.0,4.0,2.0,2.0,2.0,2.0,...,0.437628,0.059382,0.032185,0.000137,0.461525,0.085306,0.062933,0.335889,0.414543,-0.171855
4,마지막 콘서트,5,4.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,0.492598,0.229535,0.061022,0.026889,0.519262,0.221837,0.114534,0.310134,0.466154,-0.221947

In [51]:
melon_test = melon_2020s
data_te = pd.DataFrame(melon_test.제목).reset_index(drop=True)

In [52]:
for f_te in feature_te :
    data_te = pd.concat([data_te, f_te], axis = 1)
    
data_te = data_te.fillna(round(data_te.mean(),4))

C:\Users\admin\AppData\Local\Temp\ipykernel_16768\513214086.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_te = data_te.fillna(round(data_te.mean(),4))

In [53]:
data_te.head()

,제목,빈도_1등,빈도_2등,빈도_3등,빈도_4등,빈도_5등,빈도_6등,빈도_7등,빈도_8등,빈도_9등,...,w2v_20,w2v_21,w2v_22,w2v_23,w2v_24,w2v_25,w2v_26,w2v_27,w2v_28,w2v_29
0,아무노래,17.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,-0.142498,0.357269,-0.348285,0.554630,0.049757,0.108420,0.618424,-0.221471,-0.170774,-0.161789
1,METEOR,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,-0.140314,0.362925,-0.250032,0.588615,0.066714,0.178016,0.555149,-0.190625,-0.117742,-0.140655
2,아로하,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,...,-0.086806,0.395110,-0.227270,0.577142,0.066111,0.177948,0.626348,-0.174686,-0.141170,-0.126640
3,흔들리는 꽃들 속에서 네 샴푸향이 느껴진거야,5.0,5.0,4.0,4.0,4.0,3.0,2.0,2.0,2.0,...,-0.155757,0.352196,-0.252702,0.676258,0.037542,0.240169,0.509499,-0.156957,-0.132063,-0.155990
4,에잇(Prod.&Feat. SUGA of BTS),6.0,4.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,...,-0.086323,0.463190,-0.243538,0.468409,0.161784,0.188250,0.593708,-0.132818,-0.014953,-0.177458

In [54]:
y_train = melon_train.reset_index(drop=True).Top10

In [55]:
y_test = melon_test.Top10

In [56]:
data.to_csv('melon_train_feature.csv', index=False)
data_te.to_csv('melon_test_feature.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)